@charset "utf-8";
/* CSS Document */

.tape{
	margin:0 auto;
	width:400px;
	height:390px;
	background-image:url(tape.png)
}
.text{
	padding-top:220px;
	padding-left:40px;
	width:360px;
	height:100px;
}
.player{
	width:360px;
	padding-left:40px;
}