<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="scut.attmore.shengbo" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".ui.Splash" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.RecordingActivity"></activity>
		<activity android:name=".ui.ShareActivity"></activity>
		<activity android:name=".ui.SendBroadcastMessage"></activity>
		<activity android:name=".ui.OAuthWebViewActivity" android:label="OAuth Activity"></activity>
		<activity android:configChanges="keyboardHidden|orientation"
			android:name=".ui.OAuthCallBack">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="shengbo" android:host="OAuthCallBack" />
			</intent-filter>
		</activity>
		<meta-data android:value="4e8135305270152e23000009"
			android:name="UMENG_APPKEY"></meta-data>
	</application>
</manifest>